<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1> Kontakt </h1>
<table>
<tr>
	<td> Anrede:</td>
	<td>
	<select name="Anrede">
	<option>Frau</option>
	<option>Herr</option>
	</select>
	</td>
</td>
	
	<tr>
		 <td> Vorname:</td>
		 <td>
		   <input name="Vorname" type="text" />
      </td>
	 	</tr>
	
	<tr>
		 <td> Nachname:</td>
		 <td>
		   <input name="Nachname" type="text" />
      </td>
	 	</tr>
		
			<tr>
		 <td> Email:</td>
		 <td>
		   <input name="Email" type="text" />
      </td>
	 	</tr>
	 	
			<tr>
		 <td> PLZ:</td> 
		 <td>
		   <input name="PLZ" type="text" /> 
		   <td> Ort: </td>
		   <td>
		   <input name="Ort" type="text"/>
      </td>
	 	</tr>
	 	
	 	
	 		<tr>
		 <td> Straße:</td> 
		 <td>
		   <input name="Straße" type="text" /> 
		   <td> Nr.: </td>
		   <td>
		   <input name="Nr" type="text"/>
      </td>
	 	</tr>
	 	
	 		<tr>
		 <td> Telefon:</td>
		 <td>
		   <input name="Telefon" type="text" />
      </td>
	 	</tr>
	 	
	 	<tr>
	 	<td> Nachricht: </td>
	 	<td>
	 	<textarea name="longtext"></textarea>
	 	</td>
	 	</tr>
	 	
</table>
</body>
</html>