<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1> Über uns </h1>

<table >
<tr>
<td><img src="../pics/Kadir.jpg" width="150" height="200"></td>
</tr>
	<tr>
		<td> Abdülkadir Sahin </td>
	</tr>
	<tr>
		<td> Email: </td>
	</tr>
	
	<tr>
		<td>abduelkadir.sahin@htwg-konstanz.de</td>
	</tr>

<tr>
<td><img src="../pics/Vildan.jpg" width="150" height="200"></td>
</tr>
	<tr>
		<td> Vildan Özgür </td>
	</tr>
	<tr>
		<td> Email: </td>
	</tr>
	
	<tr>
		<td>vildan.oezguer@htwg-konstanz.de</td>
	</tr>


	<tr>
<td><img src="../pics/Kerem.png" width="150" height="200"></td>
</tr>
	<tr>
		<td> Kerem Uyanik </td>
	</tr>
	<tr>
		<td> Email: </td>
	</tr>
	
	<tr>
		<td>kerem.uyanik@htwg-konstanz.de</td>
	</tr>



</table>
</body>
</html>